[submodule "operations"]
	path = operations
	url = git@github.com:UniNuvola/operations
[submodule "ldapproxy"]
	path = core/ldapproxy
	url = git@github.com:UniNuvola/ldapproxy
[submodule "ldapsyncservice"]
	path = core/ldapsyncservice
	url = git@github.com:UniNuvola/ldapsyncservice
[submodule "redis"]
	path = core/redis
	url = git@github.com:UniNuvola/redis
[submodule "vault"]
	path = core/vault
	url = git@github.com:UniNuvola/vault
[submodule "quickstart"]
	path = docs/quickstart
	url = git@github.com:UniNuvola/quickstart
