[submodule "operations"]
	path = operations
	url = git@github.com:UniNuvola/operations
[submodule "ldapproxy"]
	path = core/ldapproxy
	url = git@github.com:UniNuvola/ldapproxy
[submodule "ldapsyncservice"]
	path = core/ldapsyncservice
	url = git@github.com:UniNuvola/ldapsyncservice
[submodule "redis"]
	path = core/redis
	url = git@github.com:UniNuvola/redis
[submodule "vault"]
	path = core/vault
	url = git@github.com:UniNuvola/vault
[submodule "quickstart"]
	path = docs/quickstart
	url = git@github.com:UniNuvola/quickstart
[submodule "testing"]
	path = testing
	url = git@github.com:UniNuvola/testing.git
[submodule "phase1/ansible"]
	path = phase1/ansible
	url = git@github.com:UniNuvola/ansible
[submodule "core/web"]
	path = core/web
	url = git@github.com:UniNuvola/web
[submodule "phase2/uninuvola-init"]
	path = phase2/uninuvola-init
	url = git@github.com:UniNuvola/uninuvola-init
