[submodule "operations"]
	path = operations
	url = git@github.com:UniNuvola/operations
[submodule "ldapproxy"]
	path = ldapproxy
	url = git@github.com:UniNuvola/ldapproxy
[submodule "ldapsyncservice"]
	path = ldapsyncservice
	url = git@github.com:UniNuvola/ldapsyncservice
[submodule "redis"]
	path = redis
	url = git@github.com:UniNuvola/redis
[submodule "vault"]
	path = vault
	url = git@github.com:UniNuvola/vault
